a{color:blue}
p{font-weight:bold}
h1{height:780px;width:100px;margin-top:1px;
    padding-top:30px;padding-left:30px;float:left;
    background-color:rgb(103, 199, 243);color:white;border:none;}
.uu{margin-left:180px;padding-top:20px}